body{
   min-width: 1000px;
}

.desc {
   display: inline;
   text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 input[type=number] {
   -moz-appearance: textfield;
 }

 .level {
   width: 16px;
}